.navbar .container .collapse .navbar-nav {
  gap: 10px;
}

.navbar .container .collapse .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  width: 9vw;
  height: 5vh;
  background-color: rgb(255, 255, 255, 50%);
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}

.text-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

/* submenu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav-item.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.25rem 1.5rem;
  color: #212529;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #16181b;
}

.text-icon .fas {
  font-size: 3rem;
}

/* on index  */
.move {
  position: relative !important;
  top: 30px;
}

.textUs {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(255, 255, 255, 50%);
}

/* nosotros */

.socios {
  position: relative;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* servicios */

.text {
  padding-top: 5rem;
  background: #fff;
}

.socios .socio {
  position: relative;
  bottom: 20px;
  width: 20vw;
  height: 55vh;
}

.img-fluid {
  position: relative;
  max-width: 70%;
  height: 40rem;
}

.selfteam {
  position: relative;
  height: 100vh;
  width: 50vw;
  top: 150px;
  transform-style: preserve-3d;
  margin-bottom: 10px;
}

.persona {
  width: 45vw;
  height: 50vh;
  box-shadow: 0 0 10 #0000004d;
  border: 1px solid #bbb;
  box-sizing: border-box;
  position: absolute;
  top: 120px;
  transform: translateY(-50%);
  transition: 800ms ease-in-out;
  overflow: hidden;
}

.selfteam .persona img {
  width: 100%;
  height: 100%;
  filter: grayscale(0);
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .move {
    position: relative !important;
    top: 150px;
  }
  .mobil {
    position: relative;
    top: 60px;
  }

  #menuBar.active {
    transform: translateX(0%);
  }

  /* nosotros */

  .text {
    padding-top: 5rem;
    background: #fff;
  }

  .socios {
    width: 70vw;
    margin: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .socios .socio {
    position: relative;
    bottom: 20px;
    width: 20vw;
    height: 15vh;
  }

  .img-fluid {
    position: relative;
    bottom: 5px;
    max-width: 100%;
    height: 15rem;
  }

  .selfteam {
    position: relative;
    height: 50vh;
    width: 90vw;
    transform-style: preserve-3d;
  }

  .persona {
    width: 90vw;
    height: 40vh;
    box-shadow: 0 0 10 #0000004d;
    border: 1px solid #bbb;
    box-sizing: border-box;
    position: absolute;
    top: 120px;
    transform: translateY(-50%);
    transition: 800ms ease-in-out;
    overflow: hidden;
  }

  .selfteam .persona img {
    width: 100%;
    height: 100%;
    filter: grayscale(0);
  }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
  .text {
    position: relative;
    top: 7px;
    padding-top: 3rem;
    background: #fff;
  }

  .socios .socio {
    position: relative;
    bottom: 20px;
    width: 25vw;
    height: 25vh;
  }

  .img-fluid {
    position: relative;
    max-width: 100%;
    height: 40rem;
  }

  .text-center {
    text-align: center !important;
    padding-top: 10%;
    font-size: 20%;
  }
  .selfteam {
    position: relative;
    height: 40vh;
    width: 100vw;
    transform-style: preserve-3d;
  }

  .persona {
    width: 80vw;
    height: 40vh;
    box-shadow: 0 0 10 #0000004d;
    border: 1px solid #bbb;
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
    transition: 800ms ease-in-out;
    overflow: hidden;
  }

  .selfteam .persona img {
    width: 100%;
    height: 100%;
    filter: grayscale(0);
  }
}
