.navbar .container .collapse .navbar-nav {
  gap: 10px;
}

.navbar .container .collapse .navbar-nav .nav-item {
  display: flex;
  align-items: center;
  width: 9vw;
  height: 5vh;
  background-color: rgb(255, 255, 255, 50%);
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link {
  font-weight: 600;
}

.text-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.text-icon .fas {
  font-size: 3rem;
}
