.mainproyect {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  gap: 100px;
}

.mainproyect .proyecto {
  width: 100vw;
  display: flex;
  margin-bottom: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.tituloproyecto {
  width: 43vw;
}

.mainproyect .proyecto .imgproyecto {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 50vw;
  height: 65vh;
  position: relative; /* Asegura que el botón se posicione con respecto a este div */
}

.mainproyect .proyecto .imgproyecto img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  object-fit: cover; /* Mantiene la proporción de la imagen y llena el contenedor */
  object-position: center; /* Centra la imagen en el contenedor */
}

.mainproyect .btn-izquierda {
  display: none;
}

.mainproyect .btn-derecha {
  font-size: 2rem; /* Ajusta el tamaño del símbolo */
  position: absolute;
  bottom: -6%; /* Ajusta según sea necesario */
  right: 275px; /* Ajusta para mover el botón hacia la izquierda */
  background-color: transparent; /* Fondo transparente */
  color: #34dbca; /* Color azul más claro para el símbolo */
  border: none; /* Sin borde */
  padding: 15px; /* Aumenta el padding para hacer el botón más grande */
  cursor: pointer;
  z-index: 10; /* Asegura que el botón esté encima del contenido */
  transition: color 0.3s ease; /* Añade una transición suave para el efecto hover */
}

.mainproyect .btn-derecha:hover {
  color: gray; /* Color gris al pasar el cursor */
}

@media screen and (max-width: 480px) {
  .mainproyect {
    top: 100px;
  }

  .mainproyect .proyecto {
    width: 80vw;
  }

  .mainproyect .proyecto .imgproyecto {
    width: 80vw;
    height: 40vh;
  }

  .tituloproyecto {
    width: 65vw;
  }

  .mainproyect .proyecto .imgproyecto img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
  }

  .mainproyect .btn-derecha {
    font-size: 2rem; /* Ajusta el tamaño del símbolo para móvil */
    bottom: -6%; /* Ajusta según sea necesario para móvil */
    right: -15%;
  }
}

@media screen and (min-width: 481px) and (max-width: 980px) {
  .mainproyect {
    top: 100px;
  }

  .mainproyect .proyecto {
    width: 80vw;
  }

  .mainproyect .proyecto .imgproyecto {
    width: 80vw;
    height: 40vh;
  }

  .tituloproyecto {
    width: 65vw;
  }

  .mainproyect .proyecto .imgproyecto img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 100%; /* Ajusta la altura al 100% del contenedor */
  }

  .mainproyect .btn-derecha {
    font-size: 2.5rem; /* Ajusta el tamaño del símbolo para tablet */
    bottom: -6%; /* Ajusta según sea necesario para tablet */
    right: -9%; /* Ajusta para mover el botón hacia la izquierda en tablet */
  }
}
